<!--
Project: SW-login.html
Author: YHW
Date of creation: 2025.11.20
Date of last update: 2025.11.20
-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
<form th:action="@{/login}" method="post">
    <input type="text" name="username" th:value="${user.name}" placeholder="Username" required />
    <input type="text" name="password" th:value="${user.password}" placeholder="Password" required />
    <button type="submit">Login</button>
</form>
</body>
</html>